body {
  margin: 0;
}

#clock-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d3d1d1;
  font-family: 'Roboto', sans-serif;
}

#clock{
  font-size: 100px;
  color: #333;
  text-align: center;
}